#main{
    background-image: url("img/pngtree-nature-forest-sun-ecology-picture-image_2394782.jpg");
	background-repeat: no-repeat;
    width: 100%;
    height: 100%;
	background-size: cover;
}
div#form{
    background-color: rgb(6, 209, 97);
    margin-top: 2%;
    padding: 2%;
    margin-bottom: 2%;
}
.negrita{
    font-weight: bold;
}
.sx{
    padding-bottom: 4%;
}
h2{
    padding-bottom: 3%;
}